body {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-right: 10%;
}

li {
    float: right;
    padding: 14px 16px;
    font-size: 110%;
}

li:hover {
    background-color: grey;
}

h1 {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    top: 25%;
}

h2 {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    top: 31%;
}

.nav {
    width: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    padding: 2%;
    display: hidden;
}

.title {
    text-align: center;
    font-family: Allura;
    font-size: 200%;
}

.subtitle {
    text-align: center;
    font-family: "Aref Ruqaa";
    font-size: 100%;
}

.banner {
    width: 100%;
    border-radius: 1%;
    padding-top: 10%;

}

.logo {
    width: 25%;
    float: left;
}